---
title: Teaching
permalink: "/teaching/"
layout: archive
author_profile: true
---

<!--
{% include base_path %}
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

### Teaching Assistant

<!-- * <a href="https://zhiyongcui.com/CEE412_CET522/"><i class='fa fa-book'></i> CEE 412 / CET 512: Transportation Data Management and Visualization </a> -->
* CEGE 3201: Transportation Engineering UMN, Spring, 2021 
* CEE 410: Traffic Engineering Fundamentals UW, Spring, 2019 


### Guest Lecturer

* Engineering Discovery Days, University of Washington, Spring, 2019
  

